@model Fuel

@{
    ViewData["Title"] = "Подробно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Детально</h2>

<div>
    <h4>Fuel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuelDensity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelDensity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FuelID">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
