@model FuelStation.Models.Tank

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TankType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TankWeight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankWeight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TankVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TankMaterial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankMaterial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TankPicture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TankPicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TankID">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
