@model TanksViewModel
@{
    ViewData["Title"] = "Емкости";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string TankType = Model.TankType;
}

<h2>Емкости</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
@using (Html.BeginForm("Index", "Tanks", FormMethod.Get))
{

    <fieldset>
        Наименование емкости: @Html.TextBox("TankType", "")

        <input type="submit" value="Найти" />

    </fieldset>


}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tanks.FirstOrDefault().TankType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks.FirstOrDefault().TankWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks.FirstOrDefault().TankVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tanks.FirstOrDefault().TankMaterial)
            </th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tanks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TankType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankMaterial)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TankID">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.TankID">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.TankID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-FuelType="@TankType"
           ></page-link>
