@model IEnumerable<Tank>

@{
    ViewData["Title"] = "Емкости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Емкости</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
@using (Html.BeginForm("Index", "Tanks", FormMethod.Get))
{

    <fieldset>
        Наименование емкости: @Html.TextBox("TankTypeFind", "")

        <input type="submit" value="Найти" />

    </fieldset>


}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TankType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TankPicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TankType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankVolume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TankPicture)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TankID">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.TankID">Подробно</a> |
                    <a asp-action="Delete" asp-route-id="@item.TankID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
