@model Fuels.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Виды топлива";
}
<table border="0">
<tr>   

    <td>
        <table>
            <caption>Виды топлива</caption>

            <tr>
                <th>Код топлива</th>
                <th>Название топлива</th>
                <th>Плотность топлива</th>
                <th></th>

            </tr>
            @foreach (var fuel in Model.Fuels)
            {
                <tr>
                    <td>@fuel.FuelID</td>
                    <td>@fuel.FuelType</td>
                    <td>@fuel.FuelDensity</td>
                    <td><a href="~/Home/Edit/@fuel.FuelID">Редактировать</a></td>
                </tr>
            }
        </table>
    </td>  
    
    <td>
        <table>
            <caption>Емкости</caption>

            <tr>
                <th>Код емкости</th>
                <th>Название емкости</th>
                <th>Вес емкости</th>
                <th></th>

            </tr>
            @foreach (var tank in Model.Tanks)
            {
                <tr>
                    <td>@tank.TankID</td>
                    <td>@tank.TankType</td>
                    <td>@tank.TankWeight</td>
                    <td><a href="~/Home/Edit/@tank.TankID">Редактировать</a></td>
                </tr>
            }
        </table>
    </td>
    </tr>
</table>
<table>
    <caption>Операции</caption>

    <tr>
        <th>Код операции</th>
        <th>Название емкости</th>
        <th>Название топлива</th>
        <th>Приход/Расход</th>
        <th>Дата</th>
        <th></th>

    </tr>
    @foreach (var operation in Model.Operations)
    {
        <tr>
            <td>@operation.OperationID</td>
            <td>@operation.TankType</td>
            <td>@operation.FuelType</td>
            <td>@operation.Inc_Exp</td>
            <td>@operation.Date.Date</td>

            <td><a href="~/Home/Edit/@operation.OperationID">Редактировать</a></td>
        </tr>
    }
</table>


