@model FuelStation.Models.Operation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Операция</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inc_Exp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inc_Exp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fuel.FuelType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fuel.FuelType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tank.TankType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tank.TankType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OperationID">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
