@using  FuelStation.ViewModels
@model OperationsViewModel
@{
    ViewData["Title"] = "Операции";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string FuelType = Model.OperationViewModel.FuelType;
    string TankType = Model.OperationViewModel.TankType;
}
<h2>Операции</h2>

@using (Html.BeginForm("Index", "Operations", FormMethod.Post))
{
    <fieldset>
        Наименование топлива: @Html.TextBox("FuelType", Model.OperationViewModel.FuelType)
        Наименование емкости: @Html.TextBox("TankType", Model.OperationViewModel.TankType)
        <input type="submit" value="Найти" />
    </fieldset>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Operations.FirstOrDefault().Inc_Exp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperationViewModel.Date)
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.OperationViewModel.SortViewModel.FuelTypeSort>
                    @Html.DisplayNameFor(model => model.OperationViewModel.FuelType)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder=@Model.OperationViewModel.SortViewModel.TankTypeSort>
                    @Html.DisplayNameFor(model => model.OperationViewModel.TankType)
                </a>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Operations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Inc_Exp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel.FuelType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tank.TankType)
                </td>

            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-FuelType="@FuelType"
           page-url-TankType="@TankType"
           page-url-sortOrder="@(Model.OperationViewModel.SortViewModel.CurrentState)"></page-link>