@model IEnumerable<FuelStation.Models.Operation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Inc_Exp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuel.FuelType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tank.TankType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Inc_Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fuel.FuelType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tank.TankType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OperationID">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.OperationID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.OperationID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
